.Sticker {
    width: 180px;
}

.Discret:hover {
    background: transparent !important;
}

.MainIcon {
    width: 40px;
    height: 40px;
    padding-right: 15px;
    padding-left: 15px;
}

.MainTitle {
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;

    color: #1e1e1e
}

.MainSubtitle {
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;

    color: #1e1e1e
}

.MainTitle.Dark {
    color: #e6e6e6;
}

.MainSubtitle.Dark {
    color: #e6e6e6;
}

.Header {
    position: fixed;
    width: 100%;
    height: 65px;
    top: 0px;
    
    margin: auto;
    text-align: center;
    min-width: 700px;

    background-color: #e6e6e6;
    box-shadow: 0 4px 5px -5px gray;
    z-index: 1; /*setting at front of all*/
}

.Header.Dark {
    background-color: #1e1e1e;
    box-shadow: 0 4px 5px -5px black;
}

.UnderHeader {
    top: 65px;
}

.Palette {
    display: inline-flex;
    align-items: center;
    text-align: left;
    float: none;

    -ms-transform: translateY(32%);
    transform: translateY(32%);
}

.Item {
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    color: #1e1e1e;
}

.Item.Dark {
    color: #e6e6e6 !important;
}

.Access {
    margin-left: 100px;
    width: 300px;
    height: 100%;
}