@media print
{
    * {-webkit-print-color-adjust:exact;}
}

.Wallpaper {
    position: absolute;
    width: 100%;
    height: 100%;

    align-items: center;
}

.Wallpaper.Layer {
    /* TRANSITION */
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  
    opacity: 1;
    z-index: 0;
  }
  
.Wallpaper.Layer.Hidden {
    opacity: 0;
}

.Curtain {
    position: absolute;
    width: 100%;
    height: 100%;

    /* TRANSITION */
    -webkit-transition: background-color 500ms ease-in-out;
    -moz-transition: background-color 500ms ease-in-out;
    -o-transition: background-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out;
}

.Curtain.None {
    background: #e6e6e600;
    opacity: 0.90;
}

.Curtain.Light {
    background: #e6e6e6;
    opacity: 0.90;
}

.Curtain.Dark {
    background: #1e1e1e;
    opacity: 0.95;
}

.Miniature {
    position: fixed;
    border-radius: 4px !important;
    bottom: 15px;
    margin: 15px;

    min-width: 400px !important;
}

.Miniature.Minimized {
    min-width: 40px !important;
    width: 40px !important;
}

.Reference {
    position: relative;
    height: 40px;
    z-index: 1;
}

.Middle {
    position: absolute;

    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.Like {
    width: 80px;
    height: 40px;

    color: #ff0037 !important;
    margin-right: 15px;

    right: 0px;
}

.Share {
    color: #1b365a !important;
}

.Share.Dark {
    color: #087ca0 !important;
}

.Count {
    margin-right: 10px;
}

.Body {
    position: fixed;
    margin-top: 65px !important;

    width: 100%;
    height: 100%;
}

.Collapsed {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    float: left;
}

.AltTitle {
    color: #e6e6e6;
    text-align: left;
    font-size: 15px;
    text-shadow: 1px 1px 2px black;
}

.SmallIcon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-left: 10px;

    filter: drop-shadow(1px 1px 1px #000000aa);

     /* TRANSITION */
     -webkit-transition: color 500ms ease-in-out !important;
     -moz-transition: color 500ms ease-in-out !important;
     -o-transition: color 500ms ease-in-out !important;
     transition: color 500ms ease-in-out !important;
}

.Bio {
    text-align: justify !important;
}

.ProfileImage {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 15px;
    top: 7px;
}